[user]
    useConfigOnly = true
    signingkey = ~/.ssh/id_ed25519_for_github.pub

[commit]
    template = ~/.gitmsg
    gpgsign = true

[gpg]
    format = ssh

[tag]
    gpgsign = true

[core]
    editor = nano -w
    pager = cat
    excludesFile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    ff = only

[push]
    default = current
