[user]
    useConfigOnly = true

[core]
    editor = nano -w
    pager = cat
    excludesFile = ~/.gitignore_global

[commit]
	template = ~/.gitmsg

[init]
    defaultBranch = main

[pull]
    ff = only

[push]
    default = current
